@import url('https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Finlandica Text", sans-serif;
}

:root {
    --backgroundColor: #f5f1f1;
    --buttonBackgroundColor: #FD7539;
    --buttonTextColor: #f1f1f1;
    --primaryTextColor: #010101;
    --secondaryTextColor: #FD7539;
    --paragraphColor: #808080;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Finlandica Text", sans-serif;
}

button:hover {
    background-color: var(--primaryTextColor);
    color: var(--backgroundColor);
    box-shadow: 2px 2px 5px 2px var(--paragraphColor);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    box-shadow: 2px 2px 30px 1px #d9d6d6;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 9999;
}


h3 {
    font-size: 1.8rem;
    color: var(--secondaryTextColor);
}

ul {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

nav ul li a {
    color: var(--primaryTextColor);
    transition: 0.5s ease;
}

nav ul li a:hover {
    color: var(--secondaryTextColor);
}

nav p {
    text-align: right;
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
    padding: 5px 9px;
    border-radius: 5px;
}

/* ================== Hamburger Menu ================= */
.ham {
    width: 50px;
    margin-top: 0;
    padding: 5px 10px;
    font-size: 20px;
    display: none;
    background-color: #fff;
    color: var(--primaryTextColor);
}

.menu {
    width: 0;
    height: 100vh;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.907);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

.menu ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    font-size: 1.6rem;
    color: var(--buttonTextColor);
    display: none;
}

/* ================== Navbar and Hamburger Menu end ================= */

/* ================== Main section start ================= */
main {
    background-color: var(--backgroundColor);
    /* position: relative; */
}

.hero {
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heroContent {
    flex-basis: 50%;
}

.heroContent a {
    display: inline-block;
}

.heroContent h2 {
    text-transform: capitalize;
    font-size: 2.9rem;
    line-height: 2.9rem;
    transition: font-size 0.3s ease;
    color: var(--primaryTextColor);
}

.heroContent h2 span {
    color: var(--secondaryTextColor);
}

.heroContent p {
    padding-top: 10px;
    color: var(--paragraphColor);
    line-height: 25px;
}

.hero button {
    padding: 14px 50px;
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.6s ease;
}

.hero button:hover {
    transform: scale(1.08) rotate(-2deg);
    background-color: var(--primaryTextColor);
    color: var(--backgroundColor);
    box-shadow: 2px 2px 5px 2px var(--paragraphColor);
}


.heroImg {
    flex-basis: 40%;
    animation: orbit 2s infinite;
}


@keyframes orbit {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, 0);
    }

    50% {
        transform: translate(20px, 20px) scaleY(1.1);
    }

    75% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.heroImg img {
    width: 100%;
}

/* ================== Main section end ================= */

/* ================== landing page media query start ================= */
@media(max-width : 997px) {
    .heroContent h2 {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    .hero {
        padding: 0 60px;
    }
}

@media(max-width:768px) {
    nav ul {
        display: none;
    }

    nav .ham {
        display: block;
    }

    .ham:focus~.menu {
        width: 100%;
    }

    .ham:focus~.menu ul li a {
        display: block;
    }

    .hero {
        padding: 30px;
    }

    .heroContent {
        flex-basis: 50%;
    }

    .heroContent h2 {
        text-transform: capitalize;
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .heroImg {
        width: 100%;

    }


}

@media(max-width:618px) {

    .hero {
        height: 100vh;
        padding: 80px 30px;
        flex-direction: column;
    }

    .heroContent {
        flex-basis: 50%;
    }

    .heroContent h2 {
        text-transform: capitalize;
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .heroImg {
        width: 100%;
    }

    /* .menu {
        width: 100%;

    } */

}

@media(max-width:430px) {
    .hero {
        flex-direction: column;
        padding: 80px 20px 10px 20px;
    }

    .heroContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heroContent h2 {
        text-transform: capitalize;
        font-size: 1.9rem;
        line-height: 2rem;
    }
}

/* ================== landing page media query end ================= */

/* ================== Contact us page start ================= */
.container {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
}


/* ================== Contact us page left side image div start ================= */
.left {
    flex-basis: 50%;
}

.left img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

/* ================== Contact us page left side image div end ================= */

/* ================== Contact us page right side div start ================= */

.right {
    flex-basis: 50%;
    text-align: center;
}

.welcome {
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--primaryTextColor);
}

.para {
    font-size: 1rem;
    color: var(--paragraphColor);
}

/* ================== Contact us page right side div form start ================= */
form {
    margin-top: 30px;
}

/* ================== Form div  ================= */
.right form div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.right form div label {
    font-size: 1rem;
    margin-bottom: 7px;
    color: var(--primaryTextColor);
}

.right form div input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

/* ================== Formgot password text ================= */
.forgot {
    align-self: flex-end;
    margin-top: 6px;
    font-size: .9rem;
}

/* ================== Login button ================= */
form button {
    width: 100%;
    padding: 14px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    transition: all 0.5s;
}



/* ================== New register text ================= */
.register {
    margin-top: 30px;
    font-size: .8rem;
    color: var(--paragraphColor);
}

/* ================== Contact us page media query start ================= */
@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding: 30px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

}

@media(max-width:425px) {
    .container {
        padding: 20px;
    }

    .left {
        flex-basis: 100%;
        order: 1;
    }
}

/* ================== Contact us page media query end ================= */